html
{
	font-family: 'Open Sans', sans-serif;
	background: #ff00cc;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-attachment: fixed;
}

body {
	
}

header, nav, main
{
	max-width: 1000px;
	margin: auto;
}

header
{
	background-color: #222;
	color: #fff;
	margin-top: 2em;
	border-radius: 0.8em 0.8em 0 0;
	width: 88%;
	text-align: center;
	padding-top: 2em;
}

header h1
{
	font-size: 3em;
	font-weight: bold;
	margin-top: -0.2em;
	border-bottom: 1px solid #333;
	padding-bottom: 0.4em;
	margin-bottom: 0.6em;
	width: 100%;
}

header .pre
{
	font-size: 1.2em;
	font-weight: bold;
	color: #ccc;
}

main
{
	background-color: #fff;
	margin-bottom: 2em;
	border-radius: 0 0 0.8em 0.8em;
	width: 88%;
}

#achievements article
{
	padding: 2.6% 3%;
	border-bottom: 1px solid #ccc;
}

#achievements article:last-child:hover
{
	border-radius: 0 0 0.8em 0.8em;
}

#achievements article .geld
{
	float: right;
	margin-top: -1.9em;
	font-size: 1.4em;
	font-weight: bold;
}

#achievements article section
{
	display: none;
}

#achievements article h2
{
	display: block;
	font-size: 1.4em;
	font-weight: bold;
}

.badges
{
	width: 100%;
	display: inline-block;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
}

.badges .gekocht
{
	color: red;
	padding-left: 0.2em;
	margin-right: 1.5em;
	width: 1.2em;
}

.badges .opgelost
{
	color: green;
	padding-left: 0.4em;
	margin-right: 0.2em;
	width: 1.2em;
}

.badges .punten
{
	padding-left: 0.4em;
}

.badges .groep
{
	width: 5em;
	margin-right: 1em;
}

.badges li
{
	float: left;
}

.badges img
{
	width: 40px;
	padding-left: 2em;
}

.loader
{
	display: block;
	padding: 3em;
	background-color: #FFF;
	border-radius: 0 0 0.8em 0.8em;
	text-align: center;
	color: #CCC;
}

.actief img
{
	opacity: 1;
}

.actief span
{
	color: #000;
}

.grey
{
	background-color: #eee;
}

.clear
{
	clear: both;
}

.clock
{
	padding: 0 0 2em 0;
	margin: auto;
	transform: scale(0.9, 0.9);
}

.flip-clock-wrapper
{
	width: 300px !important;
	margin: auto !important;
}

.flip-clock-label
{
	font-family: 'Open Sans', sans-serif;
	color: #999 !important;
}

@media all and (max-width: 800px)
{
	.clock
	{
		display: none;
	}

	header
	{
		margin-top: 0.4em;
		padding-top: 1em;
		width: 96%;
	}

	header h1
	{
		font-size: 1.8em;
		margin-top: -0.2em;
		padding-bottom: 0.4em;
		margin-bottom: 0;
		border: 0;
	}

	header .pre
	{
		font-size: 1em;
		font-weight: bold;
		color: #ccc;
	}

	main
	{
		margin-bottom: 1em;
		width: 96%;
	}

	nav
	{
		width: 96%;
	}

	nav ul
	{
		margin: auto;
		width: 90%;
	}

	nav li
	{
		display: inline;
	}

	nav button
	{
		width: 50%;
		padding: 1em 0.6em;
		font-size: 0.9em;
		font-weight: bold;
	}

	article
	{
		padding: 5% !important;
	}

	article h2
	{
		font-size: 1em !important;
	}


	.badges .puzzels
	{
		display: none;
	}
	
	.badges .trophy
	{
		float: right;
	}

	.badgesSamenvatting
	{
		margin-top: 1em;
		padding-top: 1.6em;
		font-size: 0.9em;
	}

	.badgesSamenvatting li
	{
		margin-top: 0.4em;
		width: 100%;
		float: none;
		margin-right: 0;
		min-height: 0;
	}

	.badgesSamenvatting .samenvattingInfo
	{
		margin-left: 5em;
		margin-top: -4.7em;
		margin-bottom: 2.6em;
	}
}